table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fee4c3;
    color: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 4px;
    border-style: solid;
    width: 50%;
}
span {
    background-color: #11b4fe;
}
tfoot {
    font-weight: bold;
    background-color: #11b4fe;
}
.border {
    border-bottom-color: black;
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-left-color: black;
    border-left-width: thin;
    border-left-style: solid;
}